<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Signal Drishti</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="top-right">
                <a href="#"><i class="material-icons">home</i>Home</a>
                <a href="#"><i class="material-icons">arrow_downward</i>Skip to navigation</i> </a> 
                <a href="#"><i class="material-icons">arrow_downward</i>Screen Reader Access</a>
                
            <div class="tophead_right">
                    <a href="#main-content" class="loginlinks skip-link">Skip to main content</a>
                                
                    <span class="sizechanger">
                    <a id="text_resize_decrease" class="changer" href="javascript:;" onclick="set_font_size('decrease')" title="Decrease font size" role="link">-A</a>
                    <a id="text_resize_reset" class="changer" onclick="set_font_size('')" href="javascript:;" title="Reset font size" role="link">A</a>
                    <a id="text_resize_increase" class="changer" onclick="set_font_size('increase')" href="javascript:;" title="Increase font size" role="link">+A</a>
                    </span>
                    <span class="colorchanger">
                    <a href="javascript:void(0);" class="whitebg" onclick="chooseStyle('none', 60);" role="link" aria-label="" title="Normal Contrast">A</a>
                    <a href="javascript:void(0);" class="blackbg" onclick="chooseStyle('change', 60);" role="link" aria-label="" title="High Contrast">A</a>
                    </span>
                    <a href="https://www.xn--i1bj3fqcyde.xn--11b7cb3a6a.xn--h2brj9c/" class="alink" id="switch-lang" title="Change Language हिन्दी" aria-label="Change Language हिन्दी" rel="हिन्दी">हिन्दी</a>   
            
                   
               
                </div>
            </div>
            <div class="search-form">
                <input type="text" placeholder="Search...">
                <button type="submit"><i class="material-icons">search</i></button>
            </div>
        </div>
        <div class="header-content">
            <div class="logo-container">
                <img src="satyamevlogo.png" alt="Government of India">
            </div>
            <h2><b>PARIVAHAN<br/> SEVA</b></h2>
            <span class="separator">|</span>
            <div class="title">
                <h3>Government of India</h3>
                <h1>MINISTRY OF ROAD TRANSPORT & HIGHWAYS</h1>
            </div>
            <div class="g20-logo">
                <img src="g2bharat.jpg" alt="G20">
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Online Services</a></li>
                <li><a href="#">Information Services</a></li>
                <li><a href="#">Dashboard & Reports</a></li>
                <li><a href="#">External Links</a></li>
                <li><a href="#">Public Media</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <a href="result.html">click here</a>



    <h1>Upload Images</h1>
    <div>
        <div class="grid">
            <img class="output" src="../static/output_images/output_images (1).jpeg" alt="stock">
            <img class="output" src="../static/output_images/output_images.jpeg" alt="stock">
            </div>
            <br>
            <div class="grid">
            <img class="output" src="../static/output_images/output_images (2).jpeg" alt="stock">
            <img class="output" src="../static/output_images/output_istockphoto-624460286-612x612.jpg" alt="stock">
        </div>
    </div>

    <footer class="ft">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Terms and Policies</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Hyperlink Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Website Policies</a></li>
                    <li><a href="#">Content Policies</a></li>
                    <li><a href="#">Contingency Plan</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>About Us</h4>
                <ul>
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Organization</a></li>
                    <li><a href="#">Right to Information</a></li>
                    <li><a href="#">Publications</a></li>
                    <li><a href="#">MRTH 1989</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">Fees and User Charges</a></li>
                    <li><a href="#">Act, Rules, and Policies</a></li>
                    <li><a href="#">Permit Fees and Charges</a></li>
                    <li><a href="#">Period Manual</a></li>
                    <li><a href="#">Homologation</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Need Help</h4>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Frequently Asked Questions</a></li>
                    <li><a href="#">Raise a Concern</a></li>
                    <li><a href="#">Web Information Manager</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>This Website belongs to Ministry of Road Transport & Highways, Government of India</p>
            <p>Designed, Developed and Hosted by NIC, Government of India © 2024. All rights reserved.</p>
            <p>Total Visitors: 78335779 | Last Updated: 16-01-2024</p>
        </div>
    </footer>
</body>

</html>
